<div class="feature col">
  <div class="feature-icon bg-gradient">
    <img class="d-block mx-auto mb-4" src="<%= book.cover %>" alt="" width="172" height="257">
  </div>
  <h2> <%= book.title %> </h2>
  <p><%= book.description %></p>
  <a href="/books/detail/<%= book.id %>" class="icon-link">
    Detail
  </a>
</div>