<a href="/books/detail/<%= book.id %>" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src=<%= book.cover %> alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0"><%= book.title %></h6>
        <p class="mb-0 opacity-75">
          <% book.authors.map((author, index) => { %>
            <%= `${author.name}${(index === book.authors.length - 1) ? '.' : ', '}` %>
          <% }) %>
        </p>
      </div>
    </div>
  </a>